
{% include "base.html" %}
{% load bootstrap_toolkit %}

	<h1>{{ name }}</h1>
	<li>
		<ul>
			<span class="label">Description</span>
			<span class="club_data">{{description}}</span>
		</ul>
		<ul>
			<span class="label">Email</span>
			<span class="club_data">{{email}}</span>
		</ul>
		<ul>
			<span class="label">Website</span>
			<span class="club_data">{{website}}</span>
		</ul>
		<ul>
			<span class="label"></span>
			<span class="club_data"></span>
		</ul>
	</li>
</body>
</html>