{% extends "devaffair/base.html" %}
{% load bootstrap_toolkit %}

{{ error }}


<div class="container">
	<div class="page-header">
		<h2>Societies   <p class='lead'>This is a list of all the clubs registered that would like work done for their site.</p></h2>
	</div>
	<div class="row">

		<div class="span3">
			<p class="lead">
			</p>
			<ul class="nav nav-pills nav-stacked">
				<li><a href="">Club List</a></li>
				<li><a href="">Register</a></li>
				<li></li>
				<li></li>
			</ul>
		</div>

		<div class="span9">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Club Name</th>
						<th>President</th>
						<th>Website</th>
					</tr>
				</thead>
				<tbody>
					{% for dev in devs_data %}
					<tr>
						<td>{{ dev.name }}</td>
						<td>{{ dev. }}</td>
						<td><a href="{{ club.website }}">{{ club.website }}</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>		
		</div>	
	</div>

	
	
</div>


</body>
</html>