{% extends "devaffair/base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block extra_head_content %}

<style>

h1, h2 {
	text-align: center;
}

</style>

{% endblock %}


{% block content %}

<div class="container">
	<h1 class='center'>403</h1>
	<h2 class='center'>You are not permitted to view this page</h2>

</div>

{% endblock %}