{% extends "devaffair/base.html" %}
{% load bootstrap_toolkit %}

{% block navbar %}
<div class="navbar-wrapper">
	<!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
	<div class="container">

		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="/">DevAffair</a>
				{% if request.session.usertoken %}
				<ul class="nav pull-right">
					<li>
						<a href='{% url 'university:clubs:club_profile' university=request.session.university club_id=request.session.id %}'>
							{% if request.session.type == 'club' %}
							<i class="icon-group"></i>
							{% endif %}
							{% if request.session.type == 'dev' %}
							<i class='icon-user'></i>
							{% endif %}
							{{request.session.name}} :: {{request.session.university|title}}</a></li>
							<li><a href="{% url 'logout' %}">Logout</a></li>
						</ul>
						{% endif %}
					</div><!-- /.navbar-inner -->
				</div><!-- /.navbar -->
				{% if error %}
				<div class="center alert alert-error">{{error}}</div>
				{% endif %}
			</div> <!-- /.container -->
		</div><!-- /.navbar-wrapper -->
		{% endblock navbar %}

		{% block content %}
		<div class="container">
			<div class="hero-unit">
				<h1>Devaffair</h1>
				<p>A way for CS students to improve the technology facilities of university societies.</p>
				<ul class='unstyled'>
					{% for short_uni, long_uni in uni_list %}
					<li>
						<a href='{% url 'university:university_index' university=short_uni %}'>{{long_uni}}</a>
					</li>
					{% endfor %}
				</ul>
				<p>
					<a class="btn btn-primary btn-large">
						Learn more
					</a>
				</p>
			</div>

			
		</div>
		{% endblock content %}