{% extends 'devaffair/base.html' %}

{% block navbar %}
<div class="navbar-wrapper">
  <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
  <div class="container">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="/">DevAffair</a>
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
        <ul class="nav">
          {% if not request.get_full_path = "/" %}
          <li><a href="{% url 'university:clubs:club_index' university=university %}">Clubs</a></li>
          <li><a href="{% url 'university:devs:dev_index' university=university %}">Devs</a></li>
          {% endif %}
        </ul>
        {% if request.session.usertoken %}
        <ul class="nav pull-right">
          <li>
            <a href='{% url 'university:clubs:club_profile' university=university club_id=request.session.id %}'>
              {% if request.session.type == 'club' %}
              <i class="icon-group"></i>
              {% endif %}
              {% if request.session.type == 'dev' %}
              <i class='icon-user'></i>
              {% endif %}
              {{request.session.name}} :: {{university|title}}</a></li>
              <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            {% endif %}
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->
        {% if error %}
        <div class="center alert alert-error">{{error}}</div>
        {% endif %}
      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
    {% endblock %}
