{% extends 'clubs/club_base.html' %}
{% load bootstrap_toolkit %}

{% block extra_head_content %}
<style>
	.dl-horizontal dd {
		margin-left: 120px;
	}

	.dl-horizontal dt{
		width:100px;
	}
</style>
{% endblock %}

{% block content %}
<div class='container'>
	<h1>{{ name }}</h1>

	<div class='row'>	
		<div class="span7 offset1">
			<img class="img-polaroid" src="{{STATIC_URL}}img/websites/{{club_id}}.png" alt=""/>
		</div>
		<div class='span4'>
			<dl class="dl-horizontal pull-left">
				<dt>Description</dt>
				<dd>{{description}}</dd>
				<dt>Email</dt>
				<dd>{{email}}</dd>
				<dt>Website</dt>
				<dd><a href='{{website}}'>{{website}}</a></dd>
				<dt></dt>
				<dd></dd>
			</dl>
		</div>
	</div>
</div>


</body>
</html>

{% endblock content %}