
{% include "clubs/club_base.html" %}
{% load bootstrap_toolkit %}


	<div class="container">
		<div class="page-header">
			<h1>Societies <small>Register your Society</small></h1>
		</div>
		<form method="post" class="form-horizontal">{% csrf_token %}
			{{ form|as_bootstrap:'horizontal' }}
			<input type="submit" class="btn btn-primary" value="Submit" />
		</form>

	</div>
</body>
</html>