{% include 'university/university_base.html' %}

{% load staticfiles %}

{% block extra_head_content %} 
<style></style>
{% endblock %}


<div class="container">
	<img  src='{{ STATIC_URL }}img/{{university}}.jpg' alt="" class='uni_img' />
	<div class="hero-unit">
		<h2>DevAffair at {{ long_uni }}</h2>
		<p>Allowing CS students to gain valuable experience, while improving the web facilities of university societies.</p>
		<row>
			<a class="btn btn-primary btn-large" href='{% url 'university:clubs:club_login' university=university %}'>
				Login
			</a>
			<a class="btn btn-info btn-large" href="{% url 'university:clubs:club_register' university=university %}">
				Register
			</a>

		</row>
	</div>
</div>