{% extends "university/university_base.html" %}
{% load bootstrap_toolkit %}
{% load staticfiles %}

{% block specific_css %}


img.uni_img {
width: 100%;
position: fixed;
top: 0;
left: 0;	
z-index: -1;
}
.hero-unit {
background: none	;	
}


{% endblock %}


{% block content %}
<div class="navbar-wrapper">
  <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
  <div class="container">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Devbears</a>
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/{{university}}/clubs">Clubs</a></li>
            <li><a href="/{{university}}/devs">Devs</a></li>
            <!-- Read about Bootstrap dropdowns at http://twitter.github.com/bootstrap/javascript.html#dropdowns -->
                <!-- <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="nav-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li> -->
              </ul>
            </div><!--/.nav-collapse -->
          </div><!-- /.navbar-inner -->
        </div><!-- /.navbar -->

      </div> <!-- /.container -->
    </div><!-- /.navbar-wrapper -->
{% if error %}
<div class="alert alert-error">
  {{error}}
</div>
{% endif %}


    <div class="container">
     <img  src='{{ STATIC_URL }}img/{{university}}.jpg' alt="" class='uni_img' />
     <div class="hero-unit">
      <h1>DevBears</h1>
      <p>Allowing CS students to gain valuable experience, while improving the web facilities of university societies.</p>
      <p>
       <a class="btn btn-primary btn-large">
        Learn more
      </a>
    </p>
  </div>
</div>
{% endblock %}
